player-connection-mode=Listen
player-connection-guid=287794433
player-connection-debug=0
player-connection-project-name=MultiplayerXRGFB
player-connection-ip=172.16.42.21
wait-for-native-debugger=0
hdr-display-enabled=0
xrsdk-pre-init-library=OculusXRPlugin
build-guid=8b633da518844a2298d40862cb3d5157
